.header {
    margin-bottom: 10px;
}

p {
    line-height: 27px;
    font-size: 20px;
}

.navbar-text {
    color: white;
    font-weight: bolder;
}

.logo-text {
    font-style: italic;
    font-weight: lighter;
    color: white;
}

.navbar-custom {
    background-color: #299EEF;
}

.dropdown-menu {
    background-color: white;
    color: darkslategray;
}

.row {
    margin-left: 20px;
    margin-right: 20px;
}

.groups-options {
    color: darkslategrey;
    font-size: 15px;
    padding: 5px;
}

.groups-options:hover {
    background-color: #5BC9EE;
}

.group-hostedby {
    color: darkslategrey;
    font-size: 15px;
    padding: 5px;
}

.newgroup {
    width: 300px;
    margin: 10px;
    height: 300px;
    background: #5BC9EE;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    margin-bottom: 25px;
}

.newgroup:hover {
    background-color: #4A6E90;
    cursor: pointer;
}

.newgroup-plus {
    width: 300px;
    margin: 10px;
    height: 300px;
    background: #4A6E90;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    margin-bottom: 25px;
}

.newgroup-plus:hover {
    background-color: #FFC300;
}

.dropdown {
    background-color: #FFC300;
    color: darkslategray;
}

#groupheader {
    background-color: #FFC300;
    background-size: 100%;
}

.footer-text {
    text-align: left;
    color: white;
    font-size: 20px;
}

.footer {
    background-color: #299EEF;
    padding: 20px;
    margin-top: 40px;
}

.address {
    padding-top: 20px;
}

.about {
    text-align: center;
}

.about-text {
    text-align: center;
    color: #1c2541;
    font-size: 30px;
    padding-bottom: 10px;
}

.copyright {
    text-align: center;
    color: white;
    padding-top: 20px;
}

.contact {
    text-align: left;
    color: white;
}

.description {
    margin-top: 15px;
}

a {
    color: darkslategray;
}

.box-holder {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-text {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    color: darkslategray;
}

.form-check-label {
    color: darkslategray;
    font-size: 15px;
}

.forms-text {
    font-size: 15px;
    color: darkslategray;
}

.secretword-recommendation {
    font-size: 12px;
    color: darkslategray;
}

.modal-header {
    background-color: #299EEF;
}

.modal-footer {
    background-color: #299EEF;
}

.modal-title {
    background-color: #299EEF;
    color: white;
}

.benefits {
    text-align: left;
    color: #1c2541;
    font-size: 20px;
}

.btn.btn-outline {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #1c2541;
    border: 2px solid darkslategray;
    cursor: pointer;
}

.btn-sm {
    margin: 10px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-color: white;
    color: darkslategray
}

.btn-sm:hover {
    background-color: darkslategray;
    color: white;
}

.fas.fa-video {
    font-size: 120px;
    margin: 80px;
    color: white;
}

.fas.fa-video:hover {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.fas.fa-bars {
    color: white;
    font-size: 40px;
}

.fab.fa-connectdevelop {
    font-size: 100px;
    color: #1c2541;
    margin: 30px;
}

.fas.fa-plus {
    font-size: 100px;
    margin: 100px;
    cursor: pointer;
    color: white;
}

.fas.fa-plus:hover {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.fas.fa-align-justify {
    color: white;
    cursor: pointer;
}

.fab.fa-linkedin {
    font-size: 40px;
    color: darkslategray;
    margin-bottom: 20px;
    cursor: pointer;
}

.far.fa-envelope {
    font-size: 40px;
    color: darkslategray;
    margin-bottom: 20px;
    cursor: pointer;
}

.fas.fa-edit {
    font-size: 12px;
    color: darkslategray
}